*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --navColor:#c69347;
    --fontFamily:cursive;
    --marginLeft:25%;
}
body{
    font-family: var(--fontFamily);
    margin-left: var(--marginLeft);
}
.sidenav{
    background-color: var(--navColor);
    color: white;
    height: 100vh;
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navIcons{
    display: none;
}
.sidenav>img{
    width: 10rem;
    margin-bottom: 20%;
}
.sidenav>ul>a>li{
    list-style: none;
    color: black;
    margin: 1rem 0;
    font-size: 1.3rem;
    font-family: var(--fontFamily);
    font-weight: 600;
}
.sidenav>ul>a{
   text-decoration: none;
}
.sidenav>ul>a>li:hover{
   color: white;
}
/* ============banner================ */
.banner{
    width: 100%;
    background-image: linear-gradient(90deg,#f6bc65,#47d3f6);
    height: 100vh;
    /* margin-left: var(--marginLeft); */
    left: 0;
    border-bottom: 1rem solid var(--navColor);
    position: relative;
    overflow: hidden;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.banner>h1{
    font-size: 4rem;
    color: white;
    margin-left: 3rem;
}
.banner>p{
    margin-left: 3rem;
    font-size: 1.2rem;
}
.btn{
    margin: 3rem;
}
.circular{
    position: absolute;
    right: -3.6rem;
    bottom: -3.6rem;
    width: 37%;
    height: 60%;
    border-radius: 50%;
    border: 0.7rem solid var(--navColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.circular>p{
    color: white;
    font-size: 2rem;
    width: 80%;
    text-align: center;
}
.circular>img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    position: absolute;
    top: -3.5rem;
    border: 0.4rem solid var(--navColor);
}
/* =============About=========== */
.about{
    width: 100%;
    min-height: 100vh;

}
.Aboutt{
    margin: 3rem;
    border-bottom: 1px solid lightgray;
}
.Aboutt>h1{
    font-size: 3rem;
}
.Aboutt>p{
    margin: 2rem 0;
    font-size: 1.3rem;
    color: gray;
}
.barbers{
    width: 100%;
}
.barbers>h2{
    color: brown;
    margin-left: 4.8rem;
    margin-bottom: 1rem;
}
.barbers>div{
    display: flex;
    justify-content: center;
}
.discount{
    background-color: gray;
    width: 100%;
    min-height: 50vh;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.discount>h1{
    color: brown;
    font-size: 3rem;
    margin: 1rem;
}
#text{
    color: white;
    font-size: 1.2rem;
}
#code{
    background-color: #c69347;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    margin-top: 2rem;
    font-weight: 600;
}
/* =================services==============*/
.services{
    margin-left: 3rem;
    /* background-image: url("./images/vintage-chair-barbershop.jpg"); */
}
.services>h1{
    margin-top: 3rem;
    /* margin-left: 1rem; */
    font-size: 3rem;
    /* margin-bottom: 1rem; */
    background-color: white;
    width: 100%;
}
.service{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding-bottom: 5rem;
}
.service>div{
    width: 45%;
    height: 40vh;
    margin: 1rem;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s;
}
.service>div>img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    transition: all 1s;
}
.service>div:hover .a{
    scale: 1.05;
}
.service>div:hover .detail{
    border: 5px solid #c69347;
}
.detail{
    display: flex;
    justify-content: space-around;
    align-items: end;
    position: absolute;
    top: 1.5rem;
    color: white;
    width: 85%;
    height: 80%;
    border: 1px solid white;
    z-index: 1;
    border-radius: 1rem;
    transition: all 1s;
}
.detail>h3,.detail>p{
    margin-bottom: 1.5rem;
}
.detail>h3{
    font-size: 1.7rem;
    font-weight: 600;
}
.detail>p{
    background-color: #c69347;
    padding: 0.2rem 1rem;
    border-radius: 5rem;
}
/* =============Book a seat=========== */
.booking{
    /* background-color: #47d3f6; */
    background-image: url("./images/vintage-chair-barbershop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 0;
    width: 100%;
    min-height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    /* margin-left: 0; */
}
.booking>div{
    width: 90%;
    height: 110vh;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.booking>div>h2{
    font-size: 3rem;
    /* background-color: white; */
    width: 100%;
    text-align: center;
}
.booking>div>p{
    text-align: center;
    color: gray;
    font-size: 1.3rem;
    /* background-color: white; */
    width: 100%;
}
.form{
    width: 90%;
    /* border: 3px solid black; */
    background-color: white;
    min-height: 70vh;
}
form{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form > div{
    /* background-color: #c69347; */
    width: 90%;
    height: 3rem;
    margin:1rem
}
form>div>input,select{
    width: 49%;
    padding: 0.7rem;
    font-size: large;
    font-family: cursive;
    border-radius: 0.5rem;
    border: 1px solid gray;
    /* margin-right: 10px; */
    /* heigh; */
}
form>textarea{
    width: 90%;
    padding: 0.7rem;
    font-size: large;
    font-family: cursive;
    border-radius: 0.5rem;
    border: 1px solid gray;
}
/* ===================price list========== */
.price-list{
    display: flex;
    width: 100%;
    height: 80vh;
    /* background-color: #47d3f6; */
    align-items: center;
    justify-content: center;
}
.price-list>.left{
    width: 60%;
    /* background-color: red; */
}
.left>h1,.left>p{
    margin-left: 5rem;
}
.left>h1{
    font-size: 3rem;
}
.left>p{
    font-size: 1.2rem;
    font-weight: 500;
}
.list{
    width: 100%;
    /* background-color: #b947f6; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.list>h5{
    width: 90%;
    /* background-color: aqua; */
    margin: 1px;
    text-align: center;
    font-size: 1.2rem;
}

.list>h5>hr{
    width: 40%;
    display: inline-block;
    margin: 0 1rem;
    font-size: large;
    height: 2px;
    margin-bottom: 4px;
    border: none;
    /* color: black; */
    background-color: black;
}
.list>h5>strong{
    color: #c69347;
    font-size: 1.7rem;
    font-weight: 600;
}
/* =============contact============ */
.contact{
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
}
.contact>div{
    margin-top: 1rem;
    margin: 10px;
    width: 40%;
    height: 15rem;
    border-radius: 2rem;
}
.leftContact{
    margin-top: 3rem;
}
.leftContact>h1{
    margin-bottom: 1rem;
    font-family: sans-serif;
}
.leftContact>p>a{
    color: #c69347;
    font-size: 1.4rem;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
}
.leftContact>p>:hover{
    color: brown;
}
.leftContact>div{
    margin-top: 2rem;
}
.leftContact>div>a{
    padding: 10px 15px;
    background-color: brown;
    color: white;
    border-radius: 50%;
    margin: 5px;
}
.leftContact>div>a:hover{
    background-color: #c69347;
}
.rightContact{
    background-color: #c69347;
}
.rightContact>div{
    width: 100%;
    height: 100%;
    background-color: brown;
    transform: rotate(10deg);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    padding-left: 3rem;
    flex-direction: column;
}
.rightContact>div>p{
    color: black;
    font-size: 1.4rem;
    font-weight: 600;
}
.rightContact>div>h2{
    font-size: 1.5rem;
    color: white;
}
.rightContact>div>i{
    padding: 20px;
    background-color: #f6bc65;
    font-size: 1.2rem;
    border-radius: 50%;
    width: 4rem;
    margin-bottom: 1rem;
}
/* =============map============ */
.maps{
    background-color: #47d3f6;
    width: 50rem;
    margin-left: 5rem;
    height: 20rem;
    border-radius: 1rem;
}
.maps>iframe{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
footer{
    margin-top: 3rem;
    width: 100%;
    height: 42vh;
    padding-left: 5rem;
}
.branchesFooter{
    display: flex;
    width: 100%;
}
.branchesFooter div{
    width: 30%;
    margin: 2rem 0;
}
.branchesFooter>div h3{
    color: brown;
    font-size: 1.4rem;
}
.branchesFooter>div p{
    color: gray;
    font-size: 1.2rem;
}
.Copyright{
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
}
.Copyright>a>i{
    font-size: 1.5rem;
    color: #c69347;
    border: 2px solid #c69347;
    border-radius: 50%;
    margin-right: 4rem;
    padding: 10px 15px;
    cursor: pointer;
}
.Copyright>a>i:hover{
    color: brown;
    border-color: brown;
}

